<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
	<div class="container">
	  <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
		<div class="col-first">
		  <h1>Login/Register</h1>
		  <nav class="d-flex align-items-center">
			<a href="/">Home<span class="lnr lnr-arrow-right"></span></a>
			<a href="/login">Login/Register</a>
		  </nav>
		</div>
	  </div>
	</div>
  </section>
  <!-- End Banner Area -->
  
  <!--================Login Box Area =================-->
  <section class="login_box_area section_gap">
	<div class="container">
	  <div class="row">
		<div class="col-lg-6">
		  <div class="login_box_img">
			<img class="img-fluid" src="assets/img/login.jpg" alt="">
			<div class="hover">
			  <h4 *ngIf="!isRegisterMode && !isForgotPasswordMode">New to our website?</h4>
			  <h4 *ngIf="isRegisterMode">Already have an account?</h4>
			  <h4 *ngIf="isForgotPasswordMode">Remember your password?</h4>
			  <p>There are advances being made in science and technology everyday, and a good example of this is the</p>
			  <button class="primary-btn" (click)="toggleMode()">
				{{ isRegisterMode ? 'Log In' : isForgotPasswordMode ? 'Log In' : 'Create an Account' }}
			  </button>
			</div>
		  </div>
		</div>
		<div class="col-lg-6">
		  <div class="login_form_inner">
			<h3 *ngIf="!isRegisterMode && !isForgotPasswordMode">Log in to enter</h3>
			<h3 *ngIf="isRegisterMode">Create an Account</h3>
			<h3 *ngIf="isForgotPasswordMode">Forgot Password</h3>
			<form class="row login_form" (ngSubmit)="onSubmit()" novalidate>
			  <div *ngIf="!isRegisterMode && !isForgotPasswordMode">
				<div class="col-md-12 form-group">
				  <input type="text" class="form-control" [(ngModel)]="username" name="username" placeholder="Username">
				</div>
				<div class="col-md-12 form-group">
				  <input type="password" class="form-control" [(ngModel)]="password" name="password" placeholder="Password">
				</div>
				<div class="col-md-12 form-group">
				  <div class="creat_account">
					<input type="checkbox" id="f-option2" name="selector">
					<label for="f-option2">Keep me logged in</label>
				  </div>
				</div>
				<div class="col-md-12 form-group">
				  <button type="submit" class="primary-btn">Log In</button>
				  <a (click)="toggleForgotPasswordMode()">Forgot Password?</a>
				</div>
			  </div>
			  <div *ngIf="isRegisterMode">
				<div class="col-md-12 form-group">
				  <input type="text" class="form-control" [(ngModel)]="username" name="username" placeholder="Username">
				</div>
				<div class="col-md-12 form-group">
				  <input type="email" class="form-control" [(ngModel)]="email" name="email" placeholder="Email">
				</div>
				<div class="col-md-12 form-group">
				  <input type="password" class="form-control" [(ngModel)]="password" name="password" placeholder="Password">
				</div>
				<div class="col-md-12 form-group">
				  <button type="submit" class="primary-btn">Register</button>
				</div>
			  </div>
			  <div *ngIf="isForgotPasswordMode">
				<div class="col-md-12 form-group">
				  <input type="email" class="form-control" [(ngModel)]="email" name="email" placeholder="Email">
				</div>
				<div class="col-md-12 form-group">
				  <button type="submit" class="primary-btn">Send Reset Link</button>
				</div>
			  </div>
			</form>
		  </div>
		</div>
	  </div>
	</div>
  </section>
  <!--================End Login Box Area =================-->
  